.logo{
    display: inline-block;
    vertical-align: top;
    width: 50px;
    height: 50px;
}
nav{
    width: 95%;
    height: 80px;
    background-color:transparent;
    line-height: 50px;
}
nav ul{
    float: right;
    margin-right: 0px ;
}
nav ul li{
    list-style-type: none;
    display: inline-block;
}
nav ul li a{
    text-decoration: none;
    color: #ffffff;
    padding: 20px;
}
nav ul li:hover{
    cursor: pointer;
    border-bottom: 2px solid #87ff9b;
}
body{
    margin-bottom: 0px;
    padding: 20px;
    background: url(popon.jpg);
    background-size: cover;
    background-position: fixed;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 100vh;
}
.Login-box{
    width: 320px;
    height: 420px;
    background:#2a5242;
    color: #ffffff;
    top: 45%;
    left: 85%;
    position: absolute;
    box-sizing: border-box;
    padding: 50px;
    transform: translate(-50%, -50%);
    border-radius: 40px;
}
h1{
    margin-top: 0px;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px ;
}
.Login-box p{
    margin-bottom: 0px;
    padding: 0px;
    font-weight: bold;
}
.Login-box input{
    width: 100%;
    margin-bottom: 20px;
}
.Login-box input[type="text"], input[type="password"]{
    border: none;
    border-bottom: 2px solid #ffffff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #ffffff;
    font-size: 16px;
}
.Login-box input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    color: #ffffff;
    font-size: 18px;
    border-radius: 20px ;
    background: #39634a;
}
.Login-box input[type="submit"]:hover{
    cursor: pointer;
    background: #082c16 ;
    color: #ffffff;
}
.Login-box a{
    text-decoration: none;
    font-size: 14px;
    color: #ffffff;
}
.Login-box a:hover{
    color: #00189e ;
}
.Login-box ::-webkit-input-placeholder{
    color: #fcfcfc;
    font-size: 13px;
}
.title{
    max-width: 1000px;
    margin: auto;
    position: absolute;
    text-transform: capitalize;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.title h1{
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    font-size: 50px;
}
.smalltitle{
    max-width: 1000px;
    margin: auto;
    position: absolute;
    text-transform: lowercase;
    top: 58%;
    left: 49%;
    transform: translate(-50%,-50%);
}
.smalltitle h2{
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
}
.button{
    position: absolute;
    top: 65%;
    left: 49%;
    transform: translate(-50%, -50%);
}
.button a{
    border: none;
    padding: 10px 30px;
    color: #ffffff;
    text-decoration: none;
    transition: 0.6s ease;
    border-radius: 8px;
    margin: 8px;
    background: #1c553f;
}
.button a:hover{
    background: #1c553f;
}